body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-mono {
    font-family: 'JetBrains Mono', monospace;
}

/* Banner chạy ở header */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}